{% extends "base.twig" %}

{% block title %}Admin: Workshops{% endblock %}

{% block content %}
  
  <div class="main-wrapper">
    <a href="/admin">&larr; Admin-Startseite</a>
    <h1>Workshop {% if workshop %}bearbeiten{% else %}eintragen{% endif %}</h1>
    <form method="post">
      <label for="inp-title">Titel:</label>
      <input type="text" name="title" id="inp-title" class="ako-inp" {% if workshop %}value="{{workshop.title}}"{% endif %} placeholder="Wie DU gegen Spende nur einer Niere 10000€ verdienst!">
      <label for="inp-title">Dozent:in:</label>
      <input type="text" name="host" id="inp-title" class="ako-inp" {% if workshop %}value="{{workshop.host}}"{% endif %} placeholder="Karl Lagerfeld">
      <label for="inp-title">Beschreibung:</label>
      <textarea name="description" rows="10" placeholder="Dat is ne janz ne dolle Sache, sach ich dir!">{% if workshop %}{{workshop.description}}{% endif %}</textarea>
      <br>
      <label for="inp-slot">Slot:</label>
      <select name="slot" id="inp-slot" {% if workshop %}value="{{workshop.slot}}"{% endif %}>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
      <br><br>
      <label for="inp-people">maximale Teilnemer:</label>
      <input type="number" name="people" id="inp-people" class="ako-inp" value="{% if workshop %}{{workshop.maxPeople}}{% else %}10{% endif %}" min="5" max="50">
      <input type="checkbox" name="allowrestricted" id="inp-restricted" class="ako-inp" {% if workshop.allowRestricted %}checked{% endif %}>
      <label for="inp-restricted">Anmeldung erlaubt, wenn beschränkt</label>
      <br><br>
      <button type="submit">speichern</button>
    </form>
    <br><br>

    {% if workshop %}
    <form action="/admin/deleteworkshop" method="GET" onsubmit="return confirm('Workshop wirklich löschen?');">
      <input type="hidden" name="id" value="{{workshop.id}}">
      <button class="warning small" type="submit">Workshop löschen</button>
    </form>
    <h3>Teilnehmer:</h3>
    <small><em>Einen Nutzer zu löschen entfernt ihn aus allen Workshops.</em></small>
    <ul>
      {% for p in people %}
        <li>{{p.fullName}} (<small>{{p.email}}</small>) - <a href="/admin/deleteperson/{{workshop.id}}/{{p.id}}" style="color: #f66">Nutzer löschen</a></li>
      {% endfor %}
    </ul>
    {% endif %}
  </div>

{% endblock %}
