{% extends "base.twig" %}

{% block title %}Admin{% endblock %}

{% block content %}
  
  <div class="main-wrapper">
    <h1>Workshops</h1>
    <p>Registrierte Teilnehmer: {{userCount}}</p>
    <ul class="workshop-list-admin">
      {% for ws in workshops %}
        <li>
          Slot {{ws.slot}}: <strong>{{ws.title}}</strong> - {{ws.free}}/{{ws.maxPeople}} Plätze.
          <a href="/admin/addworkshop?id={{ws.id}}">Details</a>
        </li>
      {% endfor %}
    </ul>
    <a href="/admin/addworkshop">Workshop eintragen</a><br><br>
    <a href="/admin/workshopexport" target="_blank">Teilnehmerliste herunterladen</a>
  </div>

  <div class="main-wrapper">
    Momentan ist die Workshopanmeldung {% if workshopsopen %}geöffnet{% else %}geschlossen{% endif %}.
    <br><br>
    <a href="/admin/toggleworkshopsopen">Anmeldung jetzt {% if workshopsopen %}schließen{% else %}öffnen{% endif %}</a>
  </div>

  <div class="main-wrapper">
    <h3>Infokasten bearbeiten</h3>
    <a href="/admin/editmd">Infokasten bearbeiten</a>
  </div>

{% endblock %}
