{% extends "base.twig" %}

{% block title %}Workshops{% endblock %}

{% block content %}
  
  {% if error == "form" %}
  <div class="main-wrapper">
    <p class="error">Da scheint etwas schief gelaufen zu sein. Fülle bitte alle Textfelder korrekt aus ;)</p>
  </div>
  {% endif %}
  {% if error == "unique" %}
  <div class="main-wrapper">
    <p class="error">Diese E-Mailadresse wurde bereits zur Anmeldung verwendet.</p>
  </div>
  {% endif %}

  <div class="main-wrapper">
    <h1>Die Workshops</h1>
    {% for slot in workshops %}
      <strong>Slot {{slot.slot}}</strong><br><br>
      <ul class="workshop-list">
      {% for ws in slot.workshops %}
        <li>
          <h3>{{ws.title}}</h3>
          {% if ws.host %}<div class="host">von {{ws.host}}</div>{% endif %}
          <div class="description">{{ws.description}}</div>
        </li>
      {% endfor %}
      </ul>
      <br><br>
    {% endfor %}
  </div>

  <div class="main-wrapper">

    <h1>Workshop Anmeldung</h1>

    <form action="/registerworkshops" method="POST">
      <label for="inp-lastname">Nachname:</label>
      <input type="text" class="ako-inp" name="lastname" id="inp-lastname" placeholder="Mustermann">
      <label for="inp-lastname">Vorname:</label>
      <input type="text" class="ako-inp" name="firstname" id="inp-firstname" placeholder="Erika">
      <label for="inp-lastname">E-Mailadresse:</label>
      <input type="email" class="ako-inp" name="email" id="inp-mail" placeholder="em@example.org">
      <br>
      {% for slot in workshops %}
        <strong>Slot {{slot.slot}}</strong><br><br>
        {% for ws in slot.workshops %}
        <input type="radio" class="ako-inp" name="slot{{slot.slot}}" id="wsr-{{slot.slot}}-{{ws.id}}" value="{{ws.id}}" {% if ws.free == 0 or (restricted and not ws.allowRestricted) %}disabled{% endif %}>
        <label for="wsr-{{slot.slot}}-{{ws.id}}" class="{% if ws.free == 0 or (restricted and not ws.allowRestricted) %}disabled{% endif %}">{{ws.title}}</label><br>
        {% endfor %}
        <br><br>
      {% endfor %}
      <p>Bitte prüfe deine Angaben nochmals vor dem Absenden.</p>
      <div class="center"><button type="submit">eintragen</button></div>
    </form>
  </div>
{% endblock %}
